<!-- for more effects see _animate.scss -->
<h1 class="animated bounceInDown">
    <div id="headerbg2">
        {{ site.title }}
    </div>
</h1>
<br>

<div style="position: absolute; top: 20px; right: -95px; width: 195px; padding: 10px; font-size: 15px; text-align: center; color: rgb(255, 255, 255); font-family: 'trebuchet ms', verdana, arial, sans-serif; -webkit-transform: rotate(+45deg); -webkit-transform-origin: 50% 0px; background-color: rgb(0, 0, 0); border: 1px solid rgb(170, 170, 170); z-index: 12; opacity: 0.5;">About me</div>

{% include social.html %}

{% include navigation.html %}

{% include custom/header.html %}
